<%- include("../partials/header"); -%>  
<div class="container">
<header class="jumbotron my-3">
    <h1>Welcome to YelpCamp!</h1>
    <p>Check over the World. is there your faviroute Camp?</p>
    <a class="btn btn-primary btn-md" href="/campgrounds/new" >Add new Campground</a>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <div class="col-12">
        <h3>TOP CAMPS</h3>
    </div>
        <% campgrounds.forEach( function(campground){ %>
            <div class="col-sm-6 col-md-3">
                <div class="img-thumbnail my-2">
                    <img src="<%= campground.image%>" width="340px" height="200px">
                    <div class="caption">
                        <h5><%= campground.name %></h5>
                    </div>
                    <p>
                        <a class="btn btn-dark" href="/campgrounds/<%= campground._id %>">More Info</a>
                    </p>
                </div>
                
                
            </div>
        <% }) %> 

</div>

</div>
<%- include("../partials/footer"); -%>  